.login-director{
    border:3px solid #fff;
    color:white;
    padding:1rem;
    background-color: transparent;
    position: fixed;
    z-index:3;
    right:5%;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;
    bottom:20%;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out ;

}

.login-director:hover{
    background-color: #fff;
    color:#000;
    transition: background-color 250ms ease-in-out,
    color 250ms ease-in-out;

}

