.swiper-slide{
    .slider-slide {
        width: 100vw;
        height: 100%;
     

        .slide-image {
            width: auto;
            height: 100vh;
            margin:0;
            padding: 0;

            @include mobileLandscape{
                    height: 100vh;
                    width: 100vw;
            }
            @include tabletPortrait{
                width: auto;
                height: 100vh;
            }
            @include desktop{
                height: 100vh;
                width: 100vw;
            }
            @include tabletLandscape{
                height: 100vh;
                    width: 100vw;
            }

        }

        .slide-filter {
            width: 100vw;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.65);

            .slide-content {
                width: 40%;
                height: 100px;
                position: absolute;
                bottom: 50%;
                left: 15%;
                h1{
                    font-size: 2.75rem;
                    font-family: inherit;
                }
                
                @include desktop{
                    left: 15%;
                    h1 {
                        font-size: 5.75rem;
                    }
                    
                }
                @include desktopLg {
                    left: 15%;
                    h1 {
                        font-size: 5.75rem;
                    }
                }
                @include tabletLandscape{
                    left:15%;
                h1 {
                    font-size: 5.75rem;
                }
                }
                @include tabletPortrait{
                    left:15%;
                    h1 {
                        font-size: 5.75rem;
                    }
                }

                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: white;
                transform: translateX(-110%);
                transition: transform 1000ms ease-in-out;
              
            }
        }

    }
}

.swiper-slide.swiper-slide-active{
    .slider-slide{
        .slide-filter{
            .slide-content{
                transform: translateX(0);
                    transition: transform 1000ms ease-in-out;
            }
        }
    }
}

